.header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

.toggle {
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--color-text);
    cursor: pointer;
    transition: all 150ms ease-out;
}

.toggle:hover {
    transform: scale(1.1);
    color: var(--color-accent);
}

.calendar {
    display: flex;
    align-items: center;
    height: 46px;
}

.calendar p {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-text);
}

.react-datepicker-wrapper {
    width: 200px;
}

.datePicker {
    align-items: center;
    border: 1px solid var(--color-bg-dark2);
    border-radius: 4px;
    background-color: var(--color-bg-dark2);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    color: var(--color-accent);
    text-align: center;
    padding: 0.1rem 0.5rem 0 0.5rem;
    font-size: 1rem;
    text-align: left;
    font-weight: bold;

}

.datePicker:focus {
    border: 2px solid var(--color-accent);
}

.header__right {
    display: flex;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

@media screen and (max-width:500px) {
    .header {
        display: block;
    }

    .calendar p {
        display: none;
    }

}