@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Handjet:wght@400;700&display=swap');


:root {
  --color-bg-dark: #f5f5f5;
  --color-bg-dark2: #e6ebf1;
  --color-bg: #fdfffd;
  --color-bg-grey: #d2d7db;
  --color-grey: #d1d1d1;
  --color-text: #22243d;
  --color-accent: #f16e03;
  --color-white: #fff;
  --color-scrollbar: #aaa7a7;
}

html.dark {
  --color-bg-dark: #2d2f4b;
  --color-bg-dark2: #1a1c35;
  --color-bg-grey: #1a1c35;
  --color-bg: #22243b;
  --color-grey: #4e4e4e;
  --color-text: #fdfffd;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;

  font-size: 1rem;
  accent-color: var(--color-accent);
  background: var(--color-bg-dark2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

#root {
  padding: 0.5rem;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  outline: none;
  border: none;
  font: inherit;
}

input {
  font: inherit;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}